.TimerTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;

  .time {
    background: #fbfbfb;
    color: #333333;
    height: 4rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .start {
      border: none;
      font-size: 2rem;
      color: #ed5a3d;
    }
    .stop {
      border: none;
      font-size: 2rem;
      //color: #fbfbfb;
      color: #080707;
    }
    .reset {
      border: none;
      font-size: 1.5rem;
      color: #5d9a61;
    }
  }

  .content {
    background: white;
  }
  button {
    border: none;
    font-size: 2rem;
  }
}
